.tab-content {
	padding-top: 15px;
}
.flexbox {
	display: flex;
	justify-content: space-between;
}
.panel {
	width: 30%;
}
.counter {
	display: inline-block;
	text-align: center;
	background: grey;
	color: white;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 2px;
}
.btn-delete-task {
	margin-left: 5px;
}
.btn-edit-task {
	margin-left: 5px;
}
.input-group {
	margin-top: 5px;
}
textarea {
	margin-top: 5px;
}